
<ion-tabs class="tabs-icon-top" >
        <ion-tab icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ng-click="jump('start')" title="主页"></ion-tab>
        <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ng-click="jump('myorder')"  title="个人中心"></ion-tab>
    <ion-tab icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ng-click="jump('cart')" title="购物车"></ion-tab>
        <ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ng-click="jump('start')" title="设置"></ion-tab>

</ion-tabs>

