<div ng-include="'tpl/include/header.html'"></div>
<ion-content class="has-footer has-header">
  <div class="card">
    <div class="item item-divider">
      <a href="#/start">首页</a>
      /详情
    </div>
    <div class="item item-text-wrap">
      <h2 >{{dish.name}}</h2>
      <img  src="img/{{dish.img_lg}}" class="responsive" />
      <p>{{dish.material}}</p>
      <p>{{dish.detail}}</p>
      <span class="price">¥36</span>
    </div>
    <div class="item item-divider text-right">
      <button class="button button-balanced button-small" ng-click="addTocart()">添加到购物车</button>
      <button class="button button-energized button-small" ng-click="jump('main')">我再看看</button>
    </div>
  </div>
</ion-content>

<div ng-include="'tpl/include/footer.html'"></div>
